# Ignore all files and folders
/*
# Whitelist these
!.gitignore
!README.md
!AdvancedTopicsOnComputerVision/
!AdvancedTopicsOnComputerVision/ShortProject/
AdvancedTopicsOnComputerVision/ShortProject/*
!AdvancedTopicsOnComputerVision/ShortProject/*.m
# Blacklist
**.asv
